.welcome-header {
  @apply flex-grow flex flex-col items-center justify-center mt-8;
  p {
    @apply text-xl font-bold tracking-wider uppercase text-white;
  }
  h1 {
    @apply text-5xl text-center text-white font-black;
  }
  @screen sm {
    p {
      @apply text-2xl;
    }
    h1 {
      @apply text-6xl;
    }
  }
}

.arrow {
  @apply w-10 h-10;
  border: solid white;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg);
}

.bounce {
  animation: bounce 1s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(-5%);
  }
}
