$base-color: #30d2ff;
$colors: (
  primary: $base-color,
  secondary: adjust-hue($base-color,-160deg),
  accent: adjust-hue($base-color, 160deg) 
);
$color-ratio: 8%;

:root {
  @each $name, $color in $colors {
    --color-#{$name}-100: #{lighten($color, $color-ratio * 4)};
    --color-#{$name}-200: #{lighten($color, $color-ratio * 3)};
    --color-#{$name}-300: #{lighten($color, $color-ratio * 2)};
    --color-#{$name}-400: #{lighten($color, $color-ratio * 1)};
    --color-#{$name}-500: #{$color};
    --color-#{$name}-600: #{darken($color, $color-ratio * 1)};
    --color-#{$name}-700: #{darken($color, $color-ratio * 2)};
    --color-#{$name}-800: #{darken($color, $color-ratio * 3)};
    --color-#{$name}-900: #{darken($color, $color-ratio * 4)};
  }
}

@tailwind base;

@tailwind components;

@tailwind utilities;
