.container {
  @apply rounded-lg shadow-md bg-gray-200;
}

.header-wrapper {
  @apply flex justify-between items-center bg-white;
  border-radius: inherit;
  h1 {
    @apply p-4 text-gray-700 text-base font-bold tracking-wide;
  }
  .indicator {
    @apply flex-shrink-0 mr-4 bg-primary-400 h-6 w-6 rounded-full;
  }
  &:hover {
    @apply bg-gray-200 duration-300 ease-out;
    h1 {
      @apply text-gray-900;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }
    .indicator {
      @apply bg-accent-300;
      transition-duration: inherit;
      transition-timing-function: inherit;
    }
  }
  &.open {
    @apply bg-gray-100 duration-300 ease-out;
    h1 {
      @apply text-gray-900;
    }
    .indicator {
      @apply bg-accent-300;
    }
  }
}

.content-wrapper {
  overflow: hidden;
  transition: height 300ms ease-out;
}

.content {
  @apply p-4 pt-2 text-gray-700 text-base;
}
